.singleBlog {
	border-radius: 25px;
	box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.25);

	.img {
		width: 100%;
		height: 250px;
		border-bottom: 2px solid transparent;
		position: relative;
		border-radius: 25px 25px 0 0;

		img {
			object-fit: cover;
			border-radius: 25px 25px 0 0;
		}
	}
	.content {
		background-color: #e5e7f2;
		padding: 25px;
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	.title {
		font-size: 25px;
		font-weight: 600;
		text-transform: capitalize;
		color: #000;
		line-height: 30px;
		margin-bottom: 15px;
		font-family: var(--font-mont);
		text-align: left;
	}

	.text {
		font-size: 18px;
		font-weight: 300;
		color: #000;
		margin-bottom: 20px;
	}
	.btns {
		margin-top: 20px;
		display: flex;
		justify-content: flex-end;
	}
}

@media (max-width: 1023px) {
	.singleBlog {
		.title {
			font-size: 18px;
			line-height: 25px;
		}

		p {
			font-size: 15px;
		}
	}
}
