.technologies {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1440px) {
	.technologies {
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		margin-bottom: 50px;
	}
}
