@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-space);
	background-color: #f6f5f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: var(--font-mont);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
		padding: 0 15px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
		padding: 0 15px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
		padding: 0;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1441px) {
	.container {
		max-width: 1550px;
	}
}

.swiper-horizontal {
	overflow: visible !important;
}

.swiper-pagination {
	bottom: -50px !important;
}

.swiper-pagination-bullet {
	display: inline-block;
	background: #000 !important;
	opacity: 1 !important;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	margin-right: 12px;
	transition: all 0.3s ease-in-out;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
	transform: scale(2);
}

// .testimonials .swiper-pagination {
// 	left: -28.5% !important;
// 	bottom: 0 !important;
// }
