@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-space);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: var(--font-mont);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
		padding: 0 15px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
		padding: 0 15px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
		padding: 0;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1441px) {
	.container {
		max-width: 1550px;
	}
}
