.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #fff 1px);
	background-size: 4px 4px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	font-size: 14px;
	line-height: 14px;
	z-index: 995;
	box-shadow: 0 3px 8px 0 rgba(56, 60, 87, 0.1);

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.menu {
			display: flex;
			justify-content: space-between;
			max-width: 70%;

			span {
				display: flex;
				gap: 30px;
			}
		}
	}
}

@media (max-width: 1440px) {
	.header {
		.wrapper {
			.menu {
				max-width: 85%;
			}
		}
	}
}
