.header {
	position: fixed;
	background-color: #fff;
	min-height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 995;
	box-shadow: 0 3px 8px 0 rgba(56, 60, 87, 0.1);

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.menu {
			display: flex;
			justify-content: space-between;
			max-width: 70%;

			span {
				display: flex;
				gap: 30px;
			}
		}
	}
}

@media (max-width: 1440px) {
	.header {
		.wrapper {
			.menu {
				max-width: 85%;
			}
		}
	}
}
