.resp {
	padding: 60px 0;
	.wrapper {
		.title {
			text-align: center;
			font-size: 40px;
			line-height: 1.3em;
			margin-bottom: 20px;
			font-weight: 600;
			color: #000;
		}

		.description {
			max-width: 770px;
			margin: 0 auto 150px;
			text-align: center;
			font-weight: 300;
		}

		.images {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;

			.img {
				width: 350px;
				height: 680px;
				position: relative;

				&:nth-child(odd) {
					transform: translateY(50px);
				}
			}
		}
	}
}
