.resp {
	padding: 60px 0;
	.wrapper {
		.title {
			text-align: center;
			font-size: 40px;
			line-height: 1.3em;
			margin-bottom: 20px;
			font-weight: 600;
			color: #000;
		}

		.description {
			max-width: 770px;
			margin: 0 auto 150px;
			text-align: center;
			font-weight: 300;
		}

		.images {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;

			.img {
				width: 350px;
				height: 680px;
				position: relative;

				&:nth-child(odd) {
					transform: translateY(50px);
				}
			}
		}
	}
}

@media (max-width: 1439px) {
	.resp {
		.wrapper {
			.images {
				.img {
					height: 530px;
				}
			}
		}
	}
}

@media (max-width: 1023px) {
	.resp {
		.wrapper {
			.description {
				font-size: 15px;
				margin-bottom: 60px;
			}
		}
	}
}

@media (max-width: 767px) {
	.resp {
		.wrapper {
			.title {
				font-size: 30px;
				line-height: 45px;
			}

			.images {
				flex-wrap: wrap;

				.img {
					height: 400px;
					width: calc(50% - 20px);

					&:nth-child(odd) {
						transform: translateY(0);
					}
				}
			}
		}
	}
}

@media (max-width: 575px) {
	.resp {
		.wrapper {
			.images {
				.img {
					height: 340px;
				}
			}
		}
	}
}
