.next {
	position: relative;
	width: 100%;
	min-height: 750px;
	background-repeat: no-repeat;
	background-position: top;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(221, 225, 237, 0.7);
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
		-o-backdrop-filter: blur(5px);
		-moz-backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		pointer-events: none;
	}

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 750px;
	}
}
