@import '../../../../../../assets/styles/variables.scss';

.technology {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-bottom: 60px;
	.img {
		height: 90px;
		width: 90px;
		background-color: #000;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: #c8cad6 4px 4px 4px, #fdfdff -4px -4px 4px;
		margin-right: 20px;
	}
	.title {
		color: #ee5667;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 28px;
		text-transform: uppercase;
	}
}

@media (max-width: 1440px) {
	.technology {
		width: 30%;
		margin-bottom: 0px;
	}
}

@media (max-width: 1023px) {
	.technology {
		width: calc(50% - 30px);
		margin-bottom: 0px;
		justify-content: flex-start;
	}
}

@media (max-width: 992px) {
	.services {
		width: 280px;
		margin-bottom: 40px;
		justify-content: left;
		.img {
			height: 80px;
			width: 80px;
			img {
				max-width: 40px;
				max-height: 40px;
			}
		}
		.title {
			font-size: 20px;
		}
	}
}

@media (max-width: 768px) {
	.technology {
		.title {
			font-size: 14px;
		}

		.img {
			width: 80px;
			height: 80px;
			img {
				max-width: 35px;
				max-height: 35px;
			}
		}
	}
}

@media (max-width: 575px) {
	.technology {
		width: calc(50% - 30px);
		flex-direction: column;
		gap: 20px;

		.img {
			margin: 0;
		}
	}
}
