.team {
	padding-top: 60px;
	padding-bottom: 70px;

	.titles {
		text-align: center;
		font-size: 40px;
		line-height: 1.3em;
		margin-bottom: 20px;
		font-weight: 600;
		color: #000;
		text-transform: capitalize;
	}
	.wrapper {
		padding: 0 20px;
		padding-bottom: 60px;
		overflow: hidden;
	}

	.btns {
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}
}
